@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;

  /* Custom Colors */
  --color-primary-500: #1976D2;  /* Deep Blue */
  --color-secondary-500: #2E7D32; /* Forest Green */
  --color-accent-500: #FFC107;   /* Amber Yellow */
  --color-warm-500: #FF7043;     /* Soft Orange */
  --color-lightBg: #F5F5F5;      /* Light Gray */
  --color-neutral: #E0E0E0;      /* Neutral Gray */

  
 
}
